.login-button {
  width: 200px;
  height: 50px;
  text-align: center;
  position: relative;
  border-radius: 5px;
  border: 1px solid #888888;
  float: right;
  box-shadow: -8px 8px 3px 0px #888888;
  cursor: pointer;
}

img.login-logo {
  width: 20px;
  line-height: 25px;
  text-align: center;
  position: absolute;
  top: 15px;
  left: 20px;
}

.login-text {
  display: inline-block;
  line-height: 50px;
  padding-left: 20px;
}
